
.principal{
  margin: 0;
  padding: 0;
  z-index: 300;
  position:relative ;
}


.navbar{
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color:#D2B765 ;
  border-bottom: #f3dd99 2px solid;
  z-index: 200;
  position: fixed;
  object-position: relative;
  
}
.navbar h3{
  color:#634b03;
  font-Family:"roboto"; 
  font-Weight:500;
}

.icoNavbarRedes{
  display:flex;
  justify-Content:flex-end; 
  position:relative;
  color:#fff; 
  font-Family:"roboto";
  font-Weight:500;
  width: 20%;
  justify-content: space-evenly;
}




.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Para garantir que o vídeo fique no fundo */
}
.overlay{
  width:100%; 
  height:100vh;
  background-Color:#000;
  opacity:75%; 
  position:fixed;
  z-Index:50;
  
}
.text{
  width: 100%;
  color:#fff;
  font-size: 30px;
  position: relative;
  z-index: 100;
}

.HeadDuplaGeral{
  display:flex;
  flex-direction: column;
  width:100%;
  height: auto;
  justify-Content:center;
}
.HeadDuplaContainer{
  margin-top: 20vh;
  width:100%;
  display:flex;
  flex-Wrap:wrap;
}
.HeadDuplaLogo{
  width:40%;
  display:flex;
  justify-Content:flex-end;
  
}
.logoImg{
  position: relative;
  margin-Right:30px;
  z-Index:100;
}
.HeadDuplaTexto{
  display: flex;
  flex-direction: column;
  justify-items: center;
  width:50%;
  
}
.HeadDuplaTexto span{
  color:#fff; 
  font-Size:60px; 
  font-Family:roboto; 
  font-Weight:900;
}
.HeadDuplaTexto h4{
  color:#D2B765; 
  font-Family:roboto; 
  font-Weight:400; 
  margin-Top:1rem;
  font-size: 25px;
}


.contadorRede{
  width:80%; 
  display:flex; 
  align-Items:center; 
  padding:1rem; 
  justify-Content:space-evenly;  
  margin:5vh auto;
  
  
}
.iconPlataforma{
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;

}
.iconPlataforma img{
  width: 80%;
  height: 10%;
  margin-right: 2rem;
}








.sessaoYouTube{
  display:flex;
  align-items: center;   
  justify-items: center;
  
}
.containerSessaoYouTube{
  width:100%;
   display:flex;
   align-items: center;
   padding: 5px;
}
.imgSessaoYouTube{
  margin: 5px;
}

.valorContador{
  display:flex; 
  justify-Content:center;
  flex-direction: column;
  text-align: center;
}
.valorContador span{
  color:#fff;
  font-Family: "Montserrat" , sans-Serif;
  font-weight: 900 ;
  font-Size:30px;
}
.valorContador h4{
  color:#fff; 
  font-Family: "Montserrat" , sans-Serif;
  font-Weight: 900;
  font-Size:25px;
  
}







.sessaoFacebook{
  display:flex;
  align-items: center;   
  justify-items: center;
  
}
.containerSessaoFacebook{
  width:100%;
   display:flex;
   align-items: center;
   padding: 5px;
}
.imgSessaoFacebook{
  margin: 5px;
}




.sessaoInstagram{
  display:flex;
  align-items: center;   
  justify-items: center;
  
}
.containerSessaoInstagram{
  width:100%;
   display:flex;
   align-items: center;
   padding: 5px;
}
.imgSessaoInstagram{
  margin: 5px;
}









.vdTrabalhoContainer{
  display:flex; 
  position:relative; 
  margin-Bottom:3rem;
}


.containerVideos{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 100;

}
.clipe{
  width: 100%;
}
.vdTrabalho{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  width: 70%;
  
  
}
.vdTrabalho h1{
  color:#fff; 
  font-family: "Montserrat", sans-serif; 
  font-Weight: 900; 
  font-Size:30px;
  width: 100%;
  color: #fff;
}
.linkVideoContainer{
  display:flex; 
  justify-Content:space-evenly; 
  position:relative; 
  
  
}
.video2{
 width:60%;
}

.biografias{
  display: flex;
  flex-direction: column;
  justify-items: center;
  
}
.bioAilton{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  
}

.bioAilton section{
  padding: 1rem;
  width: 40%;
}
.bioAilton section p{
  color:#fff;
  font-size:20px;
  font-family: "Montserrat", sans-serif;
}
.bioValter{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  
  
  
}
.bioValter section{
  padding: 1rem;
  width: 40%;
}
.bioValter section p{
  color:#fff;
  font-size:20px;
  font-family: "Montserrat", sans-serif;
}
.textBio{
  color:#fff;
  font-size:30px;
  font-family: "Montserrat", sans-serif;
}
.bioDupla{
 background-color:#fff;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.containerDupla{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  flex-direction: column;
  
  
}
.containerDupla p{
  z-index: 2;
  color: #000;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}
.linkVideoContainer{
  display: flex;
  flex-wrap: wrap;
}
.clipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}
.chamadaCanalYouTube{
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.chamadaCanalYouTube p{
  color: #000;
}

.containerFooter{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #D2B765;
  border-top: #f3dd99 2px solid;
  margin-top: 2rem;
  justify-content: space-around;
}
.localizacao{
  font-family: "Montserrat", sans-serif;

}
.contatos{
  font-family: "Montserrat", sans-serif;
}




@media (max-width:440px) {
  .navbar{
    justify-content: center;
  }
  .navbar h3{
    text-align: center;
  }
  
  .icoNavbarRedes{
    
    width: 100%;
    
  }
  .video{
    
    position: fixed;
  }
  .overlay{
    width:100%; 
    height:100vh;
    background-Color:#000;
    opacity:75%; 
    position:fixed;
    z-Index:100;
  }


  .containerVideos{
    display: flex;
    justify-content: center;
    
    width: 100%;
    position: absolute;
    z-index: 100;
  
  }
  
  .vdTrabalho{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    width: auto;
    height: auto;
    
  }
 
  


  .HeadDuplaGeral{
    display:flex;
    width:100%;
    justify-Content:center;
    
  }


  .HeadDuplaContainer{
     margin-top: 6rem;
     flex-direction: column;
     justify-items: center;
  }
  .HeadDuplaLogo{
    width:100%;
    display:flex;
    justify-Content:center;
  }
  .logoImg{
    position: relative;
    z-Index:100;
  }

  .nomeLogoAtual{
    width: 90%;
  }
  .HeadDuplaTexto{
    width:100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
   
  }
  .iconPlataforma{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 1rem;
  }
  .iconPlataforma img{
    width: 40%;
    height: 35%;
    margin: 1rem;
    
  
  }
  .contadorRede{
    margin-bottom: 5rem;
    flex-direction: column;
    
  }
  .sessaoFacebook{
    margin-top: 3rem;
  }
  .sessaoInstagram{
    margin-top: 3rem;
  }

 .vdTrabalho h1{
  font-size: 25px;
  margin-bottom: 2rem;
 }


  .bioAilton{
    width:100%;
    padding: none;
    margin: none;
    font-size: 15px;
    
  }
  
  .bioAilton section{
    padding: 1rem;
    width: 100%;
    
  }
  .bioAilton section p{
    
    font-size:15px;
    
  }



  .bioValter{
    width:100%;
    padding: none;
    margin: none;
    font-size: 15px;
    
    
    
  }
  .bioValter section{
    padding: 1rem;
    width: 100%;
  }
  .bioValter section p{
    font-size:15px;
  }




  

   .containerDupla{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    flex-direction: column;
    
  }
  
  .containerDupla p{
    
    text-align: center;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    
  }
  .linkVideoContainer{
    display: flex;
    flex-wrap: wrap;
  }
  .clipes{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  .localizacao{
   
    text-align: center;
    font-family: "Montserrat", sans-serif;
  
  }
  .contatos{
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
 


}
  


